body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column, .right-column {
    flex: 1;
    margin: 0 10px;
}

h2 {
    text-align: center;
    color: #333;
}
#h2_branco {
    color: white;
}

#user-header {
    text-align: center;
    margin: 20px 0;
}
#user-nome {
    text-align: center;
    font-size:17px;
    margin: 20px 0;
}
#user-cpf {
    text-align: center;
    font-size:17px;
    margin: 20px 0;
}
#user-email {
    text-align: center;
    font-size: 17px;
    margin: 20px 0;
}
#user-reputacao {
    text-align: center;
    font-size: 17px;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 80%;
    padding: 9px;
    margin: 4px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 84%;
}

/* Botão um em cima do outro */
.btn_cima {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
}

.btn_cima:hover {
    background-color: #0056b3;
}

/* Botão um do lado do outro */
.btn_lado {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 10px 5px;
    display: inline-block;
}

.btn_lado:hover {
    background-color: #0056b3;
}

.button-group {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}
